.App {
  text-align: center;
}

input{
  margin:10px;
  border: 3px solid purple;
  color: purple;
}

button{
  border: 2px solid purple;
  color: purple;
  font-size: 15px;
}

.MoviesItems{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:5rem;
}

.movieCard{
  width: 350px;
  border-radius: 5%;
  border: 3px solid purple;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TestStream{
  width: 400px;
  border: 2px solid purple;
  border-radius: 5%;
}

img{
  width: 300px;
  height: 350px;
}
